body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Style the button */

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #14213d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #556d88;
}

.button:hover {
    background-color: #0b1526;
}

.button:active {
    background-color: #14213d;
    box-shadow: 0 5px #556d88;
    transform: translateY(4px);
}