nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 50px;
    background-color: #34495e;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    top: 0;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 0;
}

a:nth-child(1) {
    width: 147px;
}

a:nth-child(2) {
    width: 147px;
}

a:nth-child(3) {
    width: 147px;
}

a:nth-child(4) {
    width: 147px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 147px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 147px;
    left: 147px;
    background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 147px;
    left: 294px;
    background-color: #3498db;
}

nav .start-contact,
a:nth-child(4):hover~.animation {
    width: 147px;
    left: 441px;
    background-color: #f39c12;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: whitesmoke;
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 70px;
}

#DSschool {
    margin-right: 50px;
}

#phome {
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    text-indent: 50px;
    margin-top: 20px;
    /* add this line to align the text to the left */
}

h2 {
    font-size: 28px;
    margin-top: 0;
    text-align: left;
    /* add this line to align the text to the left */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 16px;
    margin-left: auto;
    text-align: right;
}

p {
    font-size: 20px;
    text-indent: 50px;
    margin-top: 20px;
}

h3 {
    font-size: 28px;
}